@page
@model MIST353WeatherWebsite.Pages.Climates.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Climate[0].ClimateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Climate[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Climate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClimateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClimateId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClimateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClimateId">Delete</a> |
                <a asp-page="../LandscapingServices/Index" asp-route-id="@item.ClimateId">Services</a>
            </td>
        </tr>
}
    </tbody>
</table>
